body {
  background-image: linear-gradient(to right, rgba(255, 60, 0, 0.493), rgba(0, 0, 255, 0.539)), url('../img/bfp_bg.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
}

.logo-row {
  align-items: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 60px;
  height: auto;
  margin: 0 5px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .logo-img {
    width: 50px;
  }

  .logo-text {
    font-size: 16px;
  }
}
